
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mioca Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/admin/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/admin/css/style.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.css" />

    

    <!-- endinject -->
    <link rel="shortcut icon" href="~/assets/admin/images/fabric-icon.png" />

    @RenderSection("Css", required: false)


</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Component.InvokeAsync("AdminNav");
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">

                            <i class="fas fa-home menu-icon" style="color:black !important"></i>
                            <span class="menu-title" style="color:black !important">Ana səhifə</span>
                            <i class="menu-arrow" style="color:black !important"></i>
                        </a>
                        <div class="collapse" id="ui-basic1">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="home" asp-action="slider">Slider</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="home" asp-action="banner">Elanlar</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="mdi mdi-briefcase" style="color:black !important"></i>
                            <span class="menu-title ms-3" style="color:black !important">Satış</span>
                            <i class="menu-arrow" style="color:black !important"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="product" asp-action="index">Məhsullar</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="category" asp-action="index">Kateqoriyalar</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="shop" asp-action="sale">Satışlar</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="shop" asp-action="tax">Tax</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basich" aria-expanded="false" aria-controls="ui-basich">
                            <i class="fas fa-info-circle menu-icon" style="color:black !important"></i>
                            <span class="menu-title" style="color:black !important">Haqqımızda</span>
                            <i class="menu-arrow" style="color:black !important"></i>
                        </a>
                        <div class="collapse" id="ui-basich">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="about" asp-action="Mission">Misiyamız</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="about" asp-action="ourteam">Kollektivimiz</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="about" asp-action="brand">Brendlər</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="about" asp-action="comments">Haqqımızda danışılanlar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">

                        <a asp-area="admin" asp-controller="blog" asp-action="blog" class="nav-link">
                            <i class="fas fa-book" style="color:black !important"></i>

                            <span class="menu-title ms-3" style="color:black !important">Blog</span>
                        </a>

                    </li>
                    <li class="nav-item">

                        <a asp-controller="fag" asp-action="fag" class="nav-link">
                            <i class="fas fa-question-circle menu-icon" style="color:black !important"></i>

                            <span class="menu-title" style="color:black !important">Questions and <br /> answers</span>
                        </a>

                    </li>
                    <li class="nav-item">

                        <a asp-controller="fag" asp-action="fag" class="nav-link">
                            <i class="far fa-address-book menu-icon" style="color:black !important"></i>
                            <span class="menu-title" style="color:black !important">Contact</span>
                        </a>

                    </li>
                    <li class="nav-item">

                        <a asp-controller="layout" asp-action="layout" class="nav-link">
                            <i class="mdi mdi-format-float-left" style="color:black !important"></i>
                            <span class="menu-title ms-3" style="color:black !important">Layout</span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="~/assets/admin/#auth" aria-expanded="false" aria-controls="auth">
                            <i class="fas fa-user  menu-icon" style="color:black !important"></i>
                            <span class="menu-title" style="color:black !important">İstifadəçilər</span>
                            <i class="menu-arrow" style="color:black !important"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-controller="user" asp-action="index"> User</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="user" asp-action="logout">Logout</a></li>

                            </ul>
                        </div>
                    </li>


                </ul>
            </nav>
            <!-- partial -->
            @RenderBody()
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assets/admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/assets/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/assets/admin/js/off-canvas.js"></script>
    <script src="~/assets/admin/js/hoverable-collapse.js"></script>
    <script src="~/assets/admin/js/template.js"></script>
   
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/assets/admin/js/dashboard.js"></script>
    <script src="~/assets/admin/js/data-table.js"></script>
    <script src="~/assets/admin/js/jquery.dataTables.js"></script>
    <script src="~/assets/admin/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>

    <!-- End custom js for this page-->
    <script src="https://kit.fontawesome.com/d58faeafe2.js" crossorigin="anonymous"></script>

    <script src="~/assets/admin/js/jquery.cookie.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>


