@model WhatClientSaysVm
@{
    ViewData["Title"] = "CreateComment";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row justify-content-center">
            <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni klient rəyi yarat</h4>
                        <form class="forms-sample" asp-controller="about" asp-action="CreateComment" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Vəziyyəti</label>
                                <div class="d-flex">
                                    <div class="form-check form-check-success me-5">
                                        <label class="form-check-label" asp-for="Status">
                                            <input type="radio" class="form-check-input" asp-for="Status" value="true" id="ExampleRadio2" checked="">
                                            Aktiv
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-warning">
                                        <label class="form-check-label" asp-for="Status">
                                            <input type="radio" class="form-check-input" asp-for="Status" value="false" id="ExampleRadio5" checked="">
                                            Passiv
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Klientin adı soyadı</label>
                                <input asp-for="FullName" class="form-control" placeholder="Klientin adı soyadı">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Klientin rəyi</label>
                                <textarea asp-for="ClientComment" class="form-control" placeholder="Klientin rəyi"></textarea>
                                <span asp-validation-for="ClientComment" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label for="exampleInputUsername1">Şirkət adı</label>
                                <input asp-for="companyName" class="form-control" placeholder="Şirkət adı" />
                                <span asp-validation-for="companyName" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <label for="exampleInputUsername1">Klient şəkli</label>
                                <input asp-for="ClientImageFile" accept="image/*" class="form-control" placeholder="Klient şəkli">
                                <span asp-validation-for="ClientImageFile" class="text-danger"></span>
                            </div>


                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        ClassicEditor
            .create(document.querySelector('#ClientComment'))
            .catch(error => {
                console.error(error);
            });
    </script>
}