@model Brand
@{
    ViewData["Title"] = "DetailBrand";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                     
                        <p>
                           BrandImage:
                            <img style="width: 300px;" src="~/Uploads/@Model.Icon" />
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

