
<div class="modal bd-example-modal-lg " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"  style="z-index:99999">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-6 col-sm-12 col-xs-12 ">
                        <div class="product-images">
                            <div class="img-display">
                                <div class="img-shopcase">
                                    <img src="~/assets/images/product-image/1.jpg" alt="product image">
                                    <img src="~/assets/images/product-image/2.jpg" alt="product image">
                                    <img src="~/assets/images/product-image/3.jpg" alt="product image">
                                    <img src="~/assets/images/product-image/4.jpg" alt="product image">
                                    <img src="~/assets/images/product-image/5.jpg" alt="product image">
                                </div>
                                <div class="img-select">
                                    <div class="img-item">
                                        <a href="#" data-id="1">
                                            <img src="~/assets/images/product-image/1.jpg" alt="shop-img">
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="2">
                                            <img src="~/assets/images/product-image/2.jpg" alt="shop-img">
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="3">
                                            <img src="~/assets/images/product-image/3.jpg" alt="shop-img">
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="4">
                                            <img src="~/assets/images/product-image/4.jpg" alt="shop-img">
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="5">
                                            <img src="~/assets/images/product-image/5.jpg" alt="shop-img">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12">
                        <div class="product-details-content marleft-25">
                            <h2>Hand-Made Garlic Mortar</h2>
                            <div class="pricing-box">
                                <ul class="d-flex">
                                    <li class="new-price">$20.90</li>
                                    <li class="old-price"><del>$30.90</del></li>
                                </ul>
                            </div>
                            <div class="details-rating-wrap">
                                <div class="rating-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
                            </div>
                            <div class="stock martop-30">
                                <span class="avallabillty">
                                    Availability: <span class="in-stock">
                                        <i class="fa fa-check"></i>In Stock
                                    </span>
                                </span>
                            </div>
                            <p class="martop-30 mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do
                                eiusmodol tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
                                nostrud
                                exercitation ullamco laboris
                            </p>
                            <div class="details-quality">
                                <div class="cart-plus-minus">
                                    <div class="minus plmin">-</div>
                                    <input class="cart-plus-minus-box" type="text" value="1">
                                    <div class="plus plmin">+</div>
                                </div>
                                <div class="details-cart">
                                    <button class="addcart">
                                        Add To
                                        Cart
                                    </button>
                                </div>
                                <div class="details-wishlist ">
                                    <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                                </div>
                            </div>
                            <div class="details-categories-info details-style d-flex">
                                <span>Categories: </span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">Handmade, </a>
                                    </li>
                                    <li>
                                        <a href="#">Furniture, </a>
                                    </li>
                                    <li>
                                        <a href="#">Decore</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="details-social-info details-style d-flex">
                                <span>Share: </span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
