
@{
    ViewData["Title"] = "Blog";
}

<main>
    <!--Breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">Blog</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--Breadcrumb section end-->
    <!--Blog section start-->
    <section class="section-style-one">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 marbot-50">
                    <div class="blog-cart">
                        <div class="blog-image">
                            <img  src="~/assets/images/blog-image/1.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> June Cha</a></span>
                                <span class="blog-date">25 May, 2121</span>
                            </div>
                            <h5 class="blog-heading">
                                <a class="blog-heading-link" href="#">
                                    How to Explain Handmade
                                    Product to Your Boss
                                </a>
                            </h5>
                            <a asp-controller="blog" asp-action="details" class="btn primary-button blog-btn"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 marbot-50">
                    <div class="blog-cart">
                        <div class="blog-image">
                            <img  src="~/assets/images/blog-image/2.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> June Cha</a></span>
                                <span class="blog-date">25 May, 2121</span>
                            </div>
                            <h5 class="blog-heading">
                                <a class="blog-heading-link" href="#">
                                    How to Explain Handmade
                                    Product to Your Boss
                                </a>
                            </h5>
                            <a href="blog-details.html" class="btn primary-button blog-btn"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 marbot-50">
                    <div class="blog-cart">
                        <div class="blog-image">
                            <img  src="~/assets/images/blog-image/3.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> June Cha</a></span>
                                <span class="blog-date">25 May, 2121</span>
                            </div>
                            <h5 class="blog-heading">
                                <a class="blog-heading-link" href="#">
                                    How to Explain Handmade
                                    Product to Your Boss
                                </a>
                            </h5>
                            <a href="blog-details.html" class="btn primary-button blog-btn"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 marbot-50">
                    <div class="blog-cart">
                        <div class="blog-image">
                            <img  src="~/assets/images/blog-image/1.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> June Cha</a></span>
                                <span class="blog-date">25 May, 2121</span>
                            </div>
                            <h5 class="blog-heading">
                                <a class="blog-heading-link" href="#">
                                    How to Explain Handmade
                                    Product to Your Boss
                                </a>
                            </h5>
                            <a href="blog-details.html" class="btn primary-button blog-btn"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 marbot-50">
                    <div class="blog-cart">
                        <div class="blog-image">
                            <img  src="~/assets/images/blog-image/2.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> June Cha</a></span>
                                <span class="blog-date">25 May, 2121</span>
                            </div>
                            <h5 class="blog-heading">
                                <a class="blog-heading-link" href="#">
                                    How to Explain Handmade
                                    Product to Your Boss
                                </a>
                            </h5>
                            <a href="blog-details.html" class="btn primary-button blog-btn"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 marbot-50">
                    <div class="blog-cart">
                        <div class="blog-image">
                            <img  src="~/assets/images/blog-image/3.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> June Cha</a></span>
                                <span class="blog-date">25 May, 2121</span>
                            </div>
                            <h5 class="blog-heading">
                                <a class="blog-heading-link" href="#">
                                    How to Explain Handmade
                                    Product to Your Boss
                                </a>
                            </h5>
                            <a href="blog-details.html" class="btn primary-button blog-btn"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 marbot-50">
                    <div class="blog-cart">
                        <div class="blog-image">
                            <img  src="~/assets/images/blog-image/1.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> June Cha</a></span>
                                <span class="blog-date">25 May, 2121</span>
                            </div>
                            <h5 class="blog-heading">
                                <a class="blog-heading-link" href="#">
                                    How to Explain Handmade
                                    Product to Your Boss
                                </a>
                            </h5>
                            <a href="blog-details.html" class="btn primary-button blog-btn"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 marbot-50">
                    <div class="blog-cart">
                        <div class="blog-image">
                            <img  src="~/assets/images/blog-image/2.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> June Cha</a></span>
                                <span class="blog-date">25 May, 2121</span>
                            </div>
                            <h5 class="blog-heading">
                                <a class="blog-heading-link" href="#">
                                    How to Explain Handmade
                                    Product to Your Boss
                                </a>
                            </h5>
                            <a href="blog-details.html" class="btn primary-button blog-btn"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 marbot-50">
                    <div class="blog-cart">
                        <div class="blog-image">
                            <img  src="~/assets/images/blog-image/3.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> June Cha</a></span>
                                <span class="blog-date">25 May, 2121</span>
                            </div>
                            <h5 class="blog-heading">
                                <a class="blog-heading-link" href="#">
                                    How to Explain Handmade
                                    Product to Your Boss
                                </a>
                            </h5>
                            <a href="blog-details.html" class="btn primary-button blog-btn"> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination justify-content-center mt-0 mb-0">
                <div class="pages">
                    <ul>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Blog section end-->
</main>

