@{
    ViewData["Title"] = "Home Page";
}
<main>
    <vc:slider></vc:slider>
    <section class="banner-section section-style-one">
        <div class="banner">
            <div class="container">
                <div class="row">

                    <vc:banner></vc:banner>


                </div>
            </div>
        </div>
    </section>

    <vc:top-seller></vc:top-seller>
    <!--Feature section start-->
    <section class="section-style-two pt-0">
        <div class="container">
            <div class="row">
                <div class="feature-cards d-flex">
                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12">
                        <div class="feature">
                            <div class="feature-icon">
                                <img src="~/assets/images/icons/1.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Free Shipping</h4>
                                <span class="sub-title">Capped at $39 per order</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12">
                        <div class="feature">
                            <div class="feature-icon">
                                <img src="~/assets/images/icons/2.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Card Payments</h4>
                                <span class="sub-title">12 Months Installments</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12">
                        <div class="feature">
                            <div class="feature-icon">
                                <img src="~/assets/images/icons/3.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Easy Returns</h4>
                                <span class="sub-title">Shop With Confidence</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature section end-->
    <!--Deal section start-->
    <section class="area-deal section-style-one">
        <div class="container ">
            <div class="row">
                <vc:single-banner></vc:single-banner>
            </div>
        </div>
    </section>
    <!--Deal section end-->
    <section class="section-style-one pt-0">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="product-content text-center">
                        <h2 class="product-title bg-gif">Bestsellers Items</h2>

                    </div>
                </div>

            </div>
          <vc:best-seller></vc:best-seller>
        </div>
    </section>
   

    <section class="blog-section section-style-one pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-content text-center">
                        <h2 class="product-title bg-gif ">Yeni Bloglar</h2>
                        <p class="product-description">
                            @*Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod incididunt ut labore
                            et dolore magna aliqua.*@
                        </p>
                    </div>
                </div>
             <vc:blog></vc:blog>

            </div>
        </div>
    </section>

</main>

 @section Modals{
 <partial name="Modals/_Sizeinfo" />
}
