@model IEnumerable<CategoryViewModel>
<div class="col-12 mb-5 arrow arrow-style-one filter">
    <ul class="slider multiple-items button-group filter-button-group">
        @foreach (var item in Model)
        {
            <li data-filter=".@item.Name">
                <a>
                    <img src="~/assets/images/icons/@item.Logo"
                         alt=""><span>@item.Name</span>
                </a>
            </li>
        }

    </ul>
</div>