
@{
    ViewData["Title"] = "Shop";
}

<main>
    <!--Breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">Shop</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--Breadcrumb section end-->
    <!--Deal section start-->
    <section class="area-deal section-style-one shop-deal-area">
        <div class="container ">
            <div class="row">
                <div class="col-12 deal-col">
                    <div class="deal-card-inner" style="background-image: url(assets/images/deal-img/deal-bg.jpg);">
                        <div class="deal-content">
                            <h3 class="deal-title">
                                Handmade Pen Holder <br>
                                &amp; Offer Sale -20%
                            </h3>
                            <span class="deal-price">
                                <span class="old"> $25.00</span>
                                <span class="new">- $18.00</span>
                            </span>
                            <a href="#" class="btn btn-lg primary-button">Add To Cart</a>
                        </div>
                        <div class="deal-image">
                            <img class="img-fluid"  src="~/assets/images/deal-img/woman.png" alt="">
                            <div class="discount">
                                <h3>-20%</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--Deal section end-->
    <!--Shop product section start-->
    <section class="section-style-one">
        <div class="container">
            <div class=" row shoping-items">
                <!-- Product card  start-->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 height-resize fabric wooden">
                    <div class="product">
                        <div class="product-item  ">
                            <div class="product-image-box">
                                <a asp-controller="products" asp-action="index" class="product-img">
                                    <img  src="~/assets/images/product-image/1.jpg" alt="Product">
                                    <img class="hover-img"  src="~/assets/images/product-image/1.jpg" alt="Product">

                                </a>
                                <span class="product-price-badges">
                                    <span class="sale">-10%</span>
                                    <span class="new">New</span>
                                </span>
                                <div class="actions">
                                    <a href="#" class="action wishlist" title="Wishlist">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <a href="#" class="action quickview" title="Quick view" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop"><i class="pe-7s-look"></i></a>
                                    <a href="#" class="action compare" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="rating-block">
                                    <span class="rating">
                                        <span class="star" style="width: 100%"></span>
                                    </span>
                                    <span class="rating-number">( 5 Review )</span>
                                </span>
                                <h5 class="product-title">
                                    <a asp-controller="products" asp-action="index">
                                        Handmade Ceramic Pottery
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">$38.50</span>
                                    <span class="old">$45.50</span>

                                </span>
                            </div>
                            <button title="Add To Cart" class="add-to-cart">
                                Add
                                To Cart
                            </button>
                        </div>

                        <!--Product card end  -->
                    </div>
                </div>

                <!-- Product card  end-->
                <!-- Product card  start-->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 height-resize fabric paintings">
                    <div class="product">
                        <div class="product-item  ">
                            <div class="product-image-box">
                                <a href="#" class="product-img">
                                    <img  src="~/assets/images/product-image/9.jpg" alt="Product">
                                    <img class="hover-img"  src="~/assets/images/product-image/9.jpg" alt="Product">

                                </a>
                                <span class="product-price-badges">
                                    <span class="sale">-10%</span>
                                    <span class="new">New</span>
                                </span>
                                <div class="actions">
                                    <a href="#" class="action wishlist" title="Wishlist">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <a href="#" class="action quickview" title="Quick view" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop"><i class="pe-7s-look"></i></a>
                                    <a href="#" class="action compare" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="rating-block">
                                    <span class="rating">
                                        <span class="star" style="width: 100%"></span>
                                    </span>
                                    <span class="rating-number">( 5 Review )</span>
                                </span>
                                <h5 class="product-title">
                                    <a href="#">
                                        Handmade Ceramic Pottery
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">$38.50</span>
                                    <span class="old">$45.50</span>

                                </span>
                            </div>
                            <button title="Add To Cart" class="add-to-cart">
                                Add
                                To Cart
                            </button>
                        </div>

                        <!--Product card end  -->
                    </div>
                </div>

                <!-- Product card  end-->
                <!-- Product card  start-->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 height-resize fabric wooden">
                    <div class="product">
                        <div class="product-item  ">
                            <div class="product-image-box">
                                <a href="#" class="product-img">
                                    <img  src="~/assets/images/product-image/2.jpg" alt="Product">
                                    <img class="hover-img"  src="~/assets/images/product-image/1.jpg" alt="Product">

                                </a>
                                <span class="product-price-badges">
                                    <span class="sale">-10%</span>
                                    <span class="new">New</span>
                                </span>
                                <div class="actions">
                                    <a href="#" class="action wishlist" title="Wishlist">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <a href="#" class="action quickview" title="Quick view" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop"><i class="pe-7s-look"></i></a>
                                    <a href="#" class="action compare" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="rating-block">
                                    <span class="rating">
                                        <span class="star" style="width: 100%"></span>
                                    </span>
                                    <span class="rating-number">( 5 Review )</span>
                                </span>
                                <h5 class="product-title">
                                    <a href="#">
                                        Handmade Ceramic Pottery
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">$38.50</span>
                                    <span class="old">$45.50</span>

                                </span>
                            </div>
                            <button title="Add To Cart" class="add-to-cart">
                                Add
                                To Cart
                            </button>
                        </div>

                    </div>
                </div>

                <!-- Product card  end-->
                <!-- Product card  start-->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 height-resize fabric wooden">
                    <div class="product">
                        <div class="product-item  ">
                            <div class="product-image-box">
                                <a href="#" class="product-img">
                                    <img  src="~/assets/images/product-image/3.jpg" alt="Product">
                                    <img class="hover-img"  src="~/assets/images/product-image/2.jpg" alt="Product">

                                </a>
                                <span class="product-price-badges">
                                    <span class="sale">-10%</span>
                                    <span class="new">New</span>
                                </span>
                                <div class="actions">
                                    <a href="#" class="action wishlist" title="Wishlist">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <a href="#" class="action quickview" title="Quick view" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop"><i class="pe-7s-look"></i></a>
                                    <a href="#" class="action compare" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="rating-block">
                                    <span class="rating">
                                        <span class="star" style="width: 100%"></span>
                                    </span>
                                    <span class="rating-number">( 5 Review )</span>
                                </span>
                                <h5 class="product-title">
                                    <a href="#">
                                        Handmade Ceramic Pottery
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">$38.50</span>
                                    <span class="old">$45.50</span>

                                </span>
                            </div>
                            <button title="Add To Cart" class="add-to-cart">
                                Add
                                To Cart
                            </button>
                        </div>

                        <!--Product card end  -->
                    </div>
                </div>

                <!-- Product card  end-->
                <!-- Product card  start-->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6  height-resize fabric pottery">
                    <div class="product">
                        <div class="product-item  ">
                            <div class="product-image-box">
                                <a href="#" class="product-img">
                                    <img  src="~/assets/images/product-image/4.jpg" alt="Product">
                                    <img class="hover-img"  src="~/assets/images/product-image/5.jpg" alt="Product">

                                </a>
                                <span class="product-price-badges">
                                    <span class="sale">-10%</span>
                                    <span class="new">New</span>
                                </span>
                                <div class="actions">
                                    <a href="#" class="action wishlist" title="Wishlist">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <a href="#" class="action quickview" title="Quick view" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop"><i class="pe-7s-look"></i></a>
                                    <a href="#" class="action compare" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="rating-block">
                                    <span class="rating">
                                        <span class="star" style="width: 100%"></span>
                                    </span>
                                    <span class="rating-number">( 5 Review )</span>
                                </span>
                                <h5 class="product-title">
                                    <a href="#">
                                        Handmade Ceramic Pottery
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">$38.50</span>
                                    <span class="old">$45.50</span>

                                </span>
                            </div>
                            <button title="Add To Cart" class="add-to-cart">
                                Add
                                To Cart
                            </button>
                        </div>

                        <!--Product card end  -->
                    </div>
                </div>

                <!-- Product card  end-->
                <!-- Product card  start-->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 height-resize fabric wooden">
                    <div class="product">
                        <div class="product-item  ">
                            <div class="product-image-box">
                                <a href="#" class="product-img">
                                    <img  src="~/assets/images/product-image/5.jpg" alt="Product">
                                    <img class="hover-img"  src="~/assets/images/product-image/6.jpg" alt="Product">

                                </a>
                                <span class="product-price-badges">
                                    <span class="sale">-10%</span>
                                    <span class="new">New</span>
                                </span>
                                <div class="actions">
                                    <a href="#" class="action wishlist" title="Wishlist">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <a href="#" class="action quickview" title="Quick view" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop"><i class="pe-7s-look"></i></a>
                                    <a href="#" class="action compare" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="rating-block">
                                    <span class="rating">
                                        <span class="star" style="width: 100%"></span>
                                    </span>
                                    <span class="rating-number">( 5 Review )</span>
                                </span>
                                <h5 class="product-title">
                                    <a href="#">
                                        Handmade Ceramic Pottery
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">$38.50</span>
                                    <span class="old">$45.50</span>

                                </span>
                            </div>
                            <button title="Add To Cart" class="add-to-cart">
                                Add
                                To Cart
                            </button>
                        </div>

                        <!--Product card end  -->
                    </div>
                </div>

                <!-- Product card  end-->
                <!-- Product card  start-->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 height-resize fabric wooden">
                    <div class="product">
                        <div class="product-item  ">
                            <div class="product-image-box">
                                <a href="#" class="product-img">
                                    <img  src="~/assets/images/product-image/6.jpg" alt="Product">
                                    <img class="hover-img"  src="~/assets/images/product-image/6.jpg" alt="Product">

                                </a>
                                <span class="product-price-badges">
                                    <span class="sale">-10%</span>
                                    <span class="new">New</span>
                                </span>
                                <div class="actions">
                                    <a href="#" class="action wishlist" title="Wishlist">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <a href="#" class="action quickview" title="Quick view" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop"><i class="pe-7s-look"></i></a>
                                    <a href="#" class="action compare" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="rating-block">
                                    <span class="rating">
                                        <span class="star" style="width: 100%"></span>
                                    </span>
                                    <span class="rating-number">( 5 Review )</span>
                                </span>
                                <h5 class="product-title">
                                    <a href="#">
                                        Handmade Ceramic Pottery
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">$38.50</span>
                                    <span class="old">$45.50</span>

                                </span>
                            </div>
                            <button title="Add To Cart" class="add-to-cart">
                                Add
                                To Cart
                            </button>
                        </div>

                        <!--Product card end  -->
                    </div>
                </div>

                <!-- Product card  end-->
                <!-- Product card  start-->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 height-resize fabric wooden">
                    <div class="product">
                        <div class="product-item  ">
                            <div class="product-image-box">
                                <a href="#" class="product-img">
                                    <img  src="~/assets/images/product-image/9.jpg" alt="Product">
                                    <img class="hover-img"  src="~/assets/images/product-image/9.jpg" alt="Product">

                                </a>
                                <span class="product-price-badges">
                                    <span class="sale">-10%</span>
                                    <span class="new">New</span>
                                </span>
                                <div class="actions">
                                    <a href="#" class="action wishlist" title="Wishlist">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <a href="#" class="action quickview" title="Quick view" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop"><i class="pe-7s-look"></i></a>
                                    <a href="#" class="action compare" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <span class="rating-block">
                                    <span class="rating">
                                        <span class="star" style="width: 100%"></span>
                                    </span>
                                    <span class="rating-number">( 5 Review )</span>
                                </span>
                                <h5 class="product-title">
                                    <a href="#">
                                        Handmade Ceramic Pottery
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">$38.50</span>
                                    <span class="old">$45.50</span>

                                </span>
                            </div>
                            <button title="Add To Cart" class="add-to-cart">
                                Add
                                To Cart
                            </button>
                        </div>

                        <!--Product card end  -->
                    </div>
                </div>

                <!-- Product card  end-->

            </div>
            <div class="row">
                <div class="pagination justify-content-center mt-0 mb-0">
                    <div class="pages">
                        <ul>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Shop product section end-->
</main>

