

@{
    ViewData["Title"] = "Confirm";
}

<main>
    <!--breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">Thank You</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thank You</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--breadcrumb section end-->
    <!--Thank section start-->
    <section class="section-style-one pb-0">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="thank-inner">
                        <div class="thank-img"><img src="~/assets/images/icons/cmpted_logo.png" alt=""></div>
                        <p class="thank-desc">
                            Thank you for ordering in our store. You will receive a confirmation
                            email shortly.
                        </p>
                        <div class="thank-btn">
                            <a asp-controller="shop" asp-action="index" asp-route-id="1" class="shop-button" title="Go To Shop">Continue Shopping </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-style-three">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 text-center">
                    <div class="quickorder-content">
                        <h3 class="title">Call Us for Quick Order</h3>
                        <div class="phone">
                            <span class="call-desk">
                                <a href="tel:+01234567890">
                                    01 234 567
                                    890
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Thank section end-->

</main>


