
@{
    ViewData["Title"] = "Cart";
}

<main>
        <!--breadcrumb section start-->
        <section class="breadcrumb-section">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 text-center">
                        <h1 class="page-name ">Səbətiniz boşdur</h1>
                        <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Səbət</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!--breadcrumb section end-->
        <section class="section-style-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="empty-cart-title">
                            <h2>Səbətiniz</h2>
                        </div>
                        <div class="empty-content text-center">
                            <i class="pe-7s-shopbag"></i>
                            <h3>Səbətinizdə məhsul tapılmadı</h3>
                            <a class="empty-cart-btn" asp-controller="shop" asp-action="index" asp-route-id="1">
                                <i class="fa fa-arrow-left"> </i> Alışverişə davam et
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    
</main>
