
@{
    ViewData["Title"] = "Fag";
}

<main>
    <!--breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">Fag</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Fag</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--breadcrumb section end-->
    <section class="section-style-two">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="fag-title-desk">
                        <h4 class="title-fag bg-gif">
                            Below are frequently asked questions, you may find the answer
                            for yourself
                        </h4>
                        <p class="fag-desk">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id erat
                            sagittis, faucibus
                            metus malesuada, eleifend turpis. Mauris semper augue id nisl aliquet, a porta lectus
                            mattis. Nulla at tortor augue. In eget enim diam.
                            Donec gravida tortor sem, ac fermentum nibh rutrum sit amet. Nulla convallis mauris
                            vitae congue consequat. Donec interdum nunc purus, vitae vulputate arcu fringilla quis.
                            Vivamus iaculis euismod dui.
                        </p>
                    </div>
                    <div id="fag-accordion" class="mt-5">
                        <h3 class="ui-accordion-header-active">
                            <span class="number">1.</span><a href="#">
                                Mauris
                                congue euismod purus at semper?
                            </a>
                        </h3>
                        <div>
                            <p>
                                Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu
                                porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu
                                viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend
                                lorem
                            </p>
                        </div>
                        <h3>
                            <span class="number">2.</span><a href="#">Donec mattis finibus elit ut tristique?</a>
                        </h3>
                        <div>
                            <p>
                                Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu
                                porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu
                                viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend
                                lorem
                            </p>
                        </div>
                        <h3>
                            <span class="number">3.</span><a href="#">Aenean elit orci, efficitur quis nisl?</a>
                        </h3>
                        <div>
                            <p>
                                Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu
                                porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu
                                viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend
                                lorem
                            </p>
                        </div>
                        <h3>
                            <span class="number">4.</span><a href="#">Pellentesque habitant morbi tristique?</a>
                        </h3>
                        <div>
                            <p>
                                Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu
                                porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu
                                viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend
                                lorem
                            </p>
                        </div>
                        <h3><span class="number">5.</span><a href="#">Nam pellentesque aliquam metus?</a></h3>
                        <div>
                            <p>
                                Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu
                                porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu
                                viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend
                                lorem
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

