//banner mini card style start
.banner-section-two {
	.banner-cart {
		position: relative;
		overflow: hidden;
		border-radius: 0;
		.primary-button {
			font-size: 14px;
			width: 120px;
			height: 40px;
			margin: 21px 0 0;
			@media only screen and (max-width: 479px) {
				margin: 10px 0 0;
				font-size: 12px !important;
				height: 35px !important;
			}
		}
		&:hover {
			img {
				transform: scale(1.1) rotate(3deg);
			}
		}
		img {
			max-width: 100%;
			width: 100%;
			transition: all .3s ease 0s;
		}
		.banner-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.category {
				display: block;
				color: #fff;
				font-size: 16px;
				font-weight: 500;
				margin: 0 0 3px;
			}
			.title {
				color: #fff;
				font-size: 36px;
				line-height: 46px;
				font-weight: 500;
				margin: 0 0 10px;
			}
			&.content-style-one {
				align-items: center;
			}
			&.content-style-two {
				left: auto;
				padding-right: 70px;

				@media only screen and (max-width: 479px) {
					padding-right: 10px;
				}
				.title {
					color: $title-color;
					font-size: 30px;
					line-height: 43px;
					font-weight: 500;
					margin: 0 0 10px;
					@media only screen and (min-width: 768px) and (max-width: 991px) {
						font-size: 20px;
						line-height: 30px;
						margin: 0 0 5px;
					}

					@media only screen and (max-width: 479px) {
						font-size: 20px;
						line-height: 28px;
						margin: 0 0 0;
					}
				}
				.category {
					color: $title-color;
				}
			}
			&.content-style-three {
				align-items: flex-start;
				padding-left: 50px;
				@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 479px) {
					padding-left: 20px;
				}

				.title {
					color: $title-color;
					font-size: 30px;
					line-height: 43px;
					font-weight: 500;
					margin: 0 0 10px;
					@media only screen and (min-width: 768px) and (max-width: 991px) {
						font-size: 20px;
						line-height: 30px;
						margin: 0 0 5px;
					}

					@media only screen and (max-width: 479px) {
						font-size: 20px;
						line-height: 28px;
						margin: 0 0 0;
					}
				}
				.category {
					color: $title-color;
				}
			}
		}
		.style-one {
			border-radius: 20px 0 0 20px;
		}
		.style-two {
			border-radius: 0 20px 0 0;
		}
		.style-three {
			border-radius: 0 0 20px 0;
			@media only screen and (max-width: 767px) {
				border-radius: 20px !important;
			}
		}
	}
}
.banner-mini-card {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 5px;
	&:hover {
		img {
			transform: scale(1.1) rotate(3deg);
		}
	}
	&.mini-single-card {
		@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
			width: 100%;
			margin: 30px 0;
		}
		@media only screen and (max-width: 479px) {
			.banner-content {
				padding: 12px 30px;
			}
		}
	}

	.banner-img {
		img {
			width: 100%;

			transition: all .3s ease 0s;
		}
	}
	.banner-content {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		padding: 60px 30px;
		width: 100%;
		height: 100%;
		line-height: 1;
		justify-content: flex-end;
		@media only screen and (max-width: 479px) {
			padding: 40px 20px;
		}
		.category {
			display: block;
			font-size: 16px;
			color: #414141;
			font-weight: 500;
			margin: 0 0 12px;
			@media only screen and (max-width: 479px) {
				margin: 0 0 5px;
			}
		}
		.title {
			font-size: 30px;
			color: #424242;
			font-weight: 500;
			text-transform: capitalize;
			display: block;
			margin: 0 0 28px;
			line-height: 43px;
			@media only screen and (min-width: 992px) and (max-width: 1199px) {
				font-size: 24px;
				line-height: 36px;
				margin: 0 0 20px;
			}
			@media only screen and (max-width: 479px) {
				font-size: 24px;
				margin: 0 0 15px;
				line-height: 32px;
			}
		}
		.primary-button {
			width: 120px;
			height: 40px;
			font-size: 14px;
		}
	}
}

// feature cards style
.feature-cards {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	box-shadow: 0 24px 29px 0 rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	z-index: 1;
	&::after {
		position: absolute;
		top: 15px;
		left: 0;
		width: 95%;
		height: 100%;
		box-shadow: 0 24px 29px 0 rgba(99, 97, 97, 0.2);
		content: "";
		border-radius: 10px;
		margin: auto;
		right: 0;
		z-index: -1;
	}
	&::before {
		position: absolute;
		top: 30px;
		left: 0;
		width: 90%;
		height: 100%;
		box-shadow: 0 24px 29px 0 rgba(99, 97, 97, 0.3);
		content: "";
		border-radius: 10px;
		margin: auto;
		right: 0;
		z-index: -2;
	}
}
.feature {
	padding: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff;
	&:hover {
		img {
			transform: scale(0.9) rotate(3deg);
		}
	}
	.feature-icon {
		width: 79px;
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin-right: 20px;
		img {
			transition: all .3s ease 0s;
		}
	}
	.feature-content {
		width: calc(100% - 99px);
		.title {
			font-size: 24px;
			color: #2e2e2e;
			font-weight: 400;
			margin: 0 0 3px;
		}
		.sub-title {
			font-size: 16px;
			color: #848484;
			font-weight: 400;
		}
	}
}

// deal single cart style
.deal-card-inner {
	padding: 66px 0 80px;
	position: relative;
	background-color: #e7e7e7;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	.deal-content {
		width: 50%;
		padding-left: 90px;
		line-height: 1;
		@media only screen and (min-width: 768px) and (max-width: 991px) {
			width: 50%;
			padding-left: 40px;
		}
		@media only screen and (max-width: 767px) {
			margin: auto;
			width: 100%;
			margin: 0 0 50px;
		}
		@media only screen and (max-width: 479px) {
			padding-left: 30px;
		}
		.primary-button {
			width: 140px;
			height: 40px;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 400;
		}
		.deal-title {
			font-size: 36px;
			color: $title-color;
			font-weight: 500;
			margin: 0;
			line-height: 55px;
			@media only screen and (min-width: 992px) and (max-width: 1199px),
				only screen and (min-width: 768px) and (max-width: 991px) {
				font-size: 26px;
				line-height: 40px;
			}

			@media only screen and (max-width: 575px) {
				font-size: 30px;
				line-height: 45px;
			}
			@media only screen and (max-width: 479px) {
				font-size: 24px;
				line-height: 36px;
			}
		}
		.deal-price {
			margin-bottom: 55px;
			margin-top: 22px;
			display: block;
			font-size: 30px !important;
			font-weight: 500;
			color: #4a4a4a !important;
			@media only screen and (min-width: 768px) and (max-width: 991px) {
				font-size: 20px !important;
				margin-bottom: 40px;
				margin-top: 20px;
			}

			@media only screen and (max-width: 575px) {
				font-size: 24px !important;
				margin-top: 15px !important;
				margin-bottom: 40px !important;
			}
			@media only screen and (max-width: 479px) {
				font-size: 20px !important;
				margin-top: 10px !important;
				margin-bottom: 30px !important;
			}
			.new {
				color: $first-color !important;
			}
		}
	}
	.deal-image {
		position: absolute;
		left: auto;
		right: 168px;
		bottom: 28px;
		@media only screen and (min-width: 768px) and (max-width: 991px) {
			right: 40px;
			width: 50%;
			bottom: 0;
		}
		@media only screen and (max-width: 767px) {
			margin: auto;
			position: initial;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.discount {
			width: 103px;
			height: 103px;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $first-color;
			border-radius: 50%;
			position: absolute;
			bottom: 60px;
			right: -30px;
			@media only screen and (max-width: 767px) {
				bottom: 145px;
				right: auto;
				left: 68%;
			}
		}
	}
}

// blog card style start
.blog-cart {
	position: relative;
	&:hover {
		.blog-image {
			img {
				transform: scale(1.1) rotate(3deg);
			}
		}
	}
	.blog-image {
		overflow: hidden;
		border-radius: 20px;
		img {
			height: 100%;
			width: 100%;
			transition: all .3s ease 0s;
		}
	}
}
//breadcrumb section style start
.breadcrumb-section {
	background-image: url(../images/about-image/about-bg.jpg);
	background-color: #fcf6f6;
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom-width: 0;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	line-height: 1;
	@media only screen and (max-width: 575px) {
		height: 260px;
	}

	.page-name {
		font-weight: 400;
		text-transform: capitalize;
		font-size: 60px;
		color: $title-color;
		margin: 0;
		@media only screen and (max-width: 767px) {
			font-size: 36px;
		}
	}
	.breadcrumb {
		.breadcrumb-item {
			display: inline-block;
			font-size: 18px;
			font-weight: 500;
			text-transform: capitalize;
			margin-top: 14px;
			a {
				color: $title-color;
			}
			&:last-child {
				color: $first-color;
				&::before {
					display: inline-block;
					padding-right: 10px;
					color: $first-color;
					content: "//";
				}
			}
		}
	}
}
//breadcrumb section style end
//not found section style start
.notfound-section {
	background-image: url(../images/404/404.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 770px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media only screen and (max-width: 767px) {
		height: 450px;
	}
}
.page-not-found {
	margin-top: 310px;
	@media only screen and (max-width: 767px) {
		margin-top: 150px;
	}

	h2 {
		font-size: 48px;
		font-weight: 700;
		font-style: italic;
		color: $title-color;
		line-height: 61px;
		@media only screen and (max-width: 767px) {
			font-size: 36px;
			line-height: 48px;
		}
	}
	p {
		font-size: 36px;
		font-weight: 400;
		color: $title-color;
		line-height: 61px;
		margin: 0 0 50px;
		@media only screen and (max-width: 767px) {
			font-size: 28px;
			line-height: 40px;
			margin: 0 0 20px;
		}
	}
	a {
		color: #fff;
		font-weight: 500;
		margin: 10px 0;
		display: inline-block;
		text-transform: capitalize;
		width: 208px;
		height: 63px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		background-color: $first-color;
		i {
			margin-left: 10px;
			font-size: 20px;
		}
		margin-top: 20px;
		margin: auto;
	}
}
//not found section style end

//team card style start
.team-card-wrapper {
	@media only screen and (max-width: 767px) {
		&:hover {
			.team-inner {
				margin-left: 30px;
			}
		}
	}
	&:hover {
		.team-image {
			img {
				transform: scale(1.1) rotate(3deg);
			}
		}
		.team-inner {
			margin-left: 40px;
			background-color: $first-color;
			.team-content {
				.title,
				.sub-title {
					color: #fff;
				}
			}
		}
		.team-social {
			li {
				a {
					background-color: #fff;
					i {
						color: $first-color;
					}
				}
			}
		}
	}
	.team-image {
		img {
			max-width: 100%;
			transition: all .3s ease 0s;
			width: 100%;
		}
	}
	.team-inner {
		margin-top: -30px;
		padding: 20px 0 20px 30px;
		transition: all .3s ease 0s;
		background-color: #fff;
		position: relative;

		.team-content {
			text-align: left;
			line-height: 1;

			.title {
				font-size: 18px;
				color: #393939;
				font-weight: 500;
				text-transform: uppercase;
				transition: all .3s ease 0s;
			}
			.sub-title {
				font-size: 16px;
				font-weight: 400;
				color: grey;
				text-transform: uppercase;
				margin: 9px 0 27px;
				display: block;
				transition: all .3s ease 0s;
			}
		}
		.team-social {
			justify-content: flex-start;
			li + li {
				margin-left: 10px;
			}

			li {
				a {
					width: 36px;
					height: 36px;
					background-color: #fff;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					color: #fff;
					font-size: 14px;
					position: relative;
					overflow: hidden;
					z-index: 1;
					margin-top: -1px;
					border-radius: 5px;
					transition: all .3s ease 0s;
				}
			}
		}
	}
}

//team card style end
//client slider style start
.client-slider-wrap {
	position: relative;
	max-width: 570px;
	i {
		font-size: 30px;
		color: $first-color;
	}
	.prev {
		position: absolute;
		top: 10%;
		left: 25%;
		z-index: 99;
		@media only screen and (max-width: 575px) {
			left: 15%;
		}
	}
	.next {
		position: absolute;
		top: 10%;
		right: 25%;
		z-index: 99;
		@media only screen and (max-width: 575px) {
			right: 15%;
		}
	}
}
.clients-slider-inner {
	position: relative;
	display: flex !important;
	flex-direction: column;
	justify-content: center !important;
	align-items: center;
	margin: auto;
	margin-right: auto;

	.client-img {
		display: flex;
		justify-content: center;
	}
	.client-slider-content {
		text-align: center;
		margin-top: 45px;
		position: relative;
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			content: "";
			background-image: url(../images/testimonial-image/quate-1.webp);
			background-repeat: no-repeat;
			background-position: center;
			width: 136px;
			height: 117px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: -58.5px;
			margin-left: -68px;
			z-index: -1;
		}

		p {
			font-size: 30px;
			line-height: 48px;
			color: #565656;
			font-style: italic;
		}
	}
	.client-about-box {
		line-height: 1;
		margin: 45px 0 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.client-name-enterprise {
			.name {
				color: #393939;
				font-size: 18px;
				margin: 0 0 10px;
				font-weight: 500;
				text-transform: uppercase;
			}
			.enterprise {
				color: grey;
				font-size: 18px;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}
}
//client slider style end
//brand slider style start
.slick-current {
	.brand-slider-item {
		&::after {
			display: none;
		}
	}
}
.brand-slider {
	border: 1px solid #e1e1e1;
	.brand-slider-item {
		position: relative;
		&:hover {
			img {
				filter: none;
				opacity: 1;
			}
		}

		&::after {
			position: absolute;
			top: -20px;
			left: 0px;
			width: 1px;
			height: 250px;
			content: "";
			background-color: #e1e1e1;
		}

		a {
			padding: 48px 0;
			display: flex;
			justify-content: center;
			img {
				filter: gray;
				-webkit-filter: grayscale(1);
				transition: all 0.3s linear;
				margin: auto;
				opacity: 0.5;
			}
		}
	}
}
//brand slider style end
//Thank you  style start
.thank-inner {
	text-align: center;

	.thank-img {
		margin: 0 0 30px;
		img {
			max-width: 100%;
		}
	}
	.thank-desc {
		margin: 0 0 30px;
		line-height: 24px;
	}
	.thank-btn {
		.shop-button {
			width: 210px;
			background: #eaaa85;
			text-transform: capitalize;
			height: 45px;
			line-height: 45px;
			text-align: center;
			display: inline-block;
			color: #fff;
			font-weight: 500;
			border-radius: 5px;
			font-size: 16px;
		}
	}
}
.quickorder-content {
	.title {
		font-size: 32px;
	}
	.phone {
		.call-desk {
			a {
				font-size: 20px;
				color: #eb2606;
				margin: 15px 0 0;
				display: inline-block;
				font-weight: 500;
			}
		}
	}
}
//Thank you  style end

//Fag style start
.title-fag {
	color: #000;
	font-size: 24px;
	font-weight: 500;
	margin: 0 0 15px;
	line-height: 28px;
}
.fag-desk {
	color: $title-color;
	line-height: 26px;
}
#fag-accordion {
	.ui-accordion-header {
		border: 0;
		text-transform: capitalize;
		background-color: #ebebeb;
		border-bottom: 1px solid #ebebeb;
		color: #212121;
		font-size: 14px;
		font-weight: 500;
		margin: 0;
		position: relative;
		text-transform: uppercase;
		line-height: 2;
		margin-bottom: 20px;
		&.ui-accordion-header-active {
			margin-bottom: 0;
			a {
				color: $first-color !important;
			}
		}
		.number {
			color: #212121;
			font-size: 14px;
			left: 20px;
			position: absolute;
			top: 30%;
			font-size: 16px;
		}
		.ui-icon {
			position: absolute;
			right: 10px !important;
			top: 40%;
		}
		a {
			font-size: 16px;
			color: #212121;
			display: block;
			padding: 16px 45px;
			position: relative;
			color: #000;
		}
	}
	.ui-accordion-content {
		border: 1px solid;
		padding: 20px;
		line-height: 26px;
		border: 1px solid #ebebeb;
		margin-bottom: 20px;
	}
}
// empty cart style
.empty-cart-title {
	h2 {
		color: #000;
		text-align: left;
		font-size: 24px;
		line-height: 16px;
		font-style: normal;
		text-transform: none;
		margin: 0 0 30px;
		font-weight: 500;
	}
}
.empty-content {
	i {
		font-size: 60px;
		color: #000;
	}
	h3 {
		font-size: 20px;
		color: #000;
		margin: 20px 0 20px;
		font-weight: 500;
	}
	.empty-cart-btn {
		padding: 15px 25px;
		display: inline-block;
		background: $first-color;
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		border-radius: 30px;
		transition: .3s;
		text-transform: uppercase;
		&:hover {
			background-color: #000;
			i {
				transform: translate(-5px, 0);
			}
		}
		i {
			font-size: 14px !important;
			color: #fff;
			transition: .3s;
			display: inline-block;
		}
	}
}

//login regiser style start
#login-reg {
	ul {
		background: none;
		border: none;
		display: flex;
		justify-content: center;
		li {
			text-transform: capitalize;
			transition: all .3s ease 0s;
			color: #000;
			background: none;
			border: none;
			&:nth-child(1)::before {
				background-color: #000;
				bottom: 5px;
				content: "";
				height: 18px;
				margin: 0 auto;
				position: absolute;
				right: -2px;
				transition: all .4s ease 0s;
				width: 1px;
				top: 23px;
			}
			a {
				font-size: 25px;
				font-weight: 600;
			}
		}
		.ui-tabs-active {
			a {
				color: $first-color !important;
			}
		}
	}
	#login,
	#register {
		.login-wrapper {
			background: transparent none repeat scroll 0 0;
			box-shadow: 0 0 6px rgba(0, 0, 0, .1);
			padding: 80px;
			text-align: left;
			@media only screen and (max-width: 767px) {
				padding: 40px 15px;
			}

			.login-register-form {
				form {
					input {
						background-color: transparent;
						border: 1px solid #ebebeb;
						color: $title-color;
						font-size: 14px;
						margin-bottom: 30px;
						padding: 0 15px;
						width: 100%;
						outline: 0;
					}
					.button-box {
						.login-btn {
							padding: 10px 0 19px;
							input {
								height: 15px;
								margin: 0;
								position: relative;
								top: 1px;
								width: 17px;
							}
							a {
								color: #000;
								font-size: 15px;
								transition: all .3s ease 0s;
								&.forgot {
									float: right;
								}
							}
						}
						button {
							background-color: #f2f2f2;
							border: medium none;
							color: #000;
							cursor: pointer;
							font-size: 14px;
							font-weight: 500;
							line-height: 1;
							padding: 11px 30px;
							text-transform: uppercase;
							transition: all .3s ease 0s;
							outline: 0;
							border-radius: 0;
							font-family: $first-font;
							&:hover {
								background-color: $first-color;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}
// checkout style start
.billing-info-wrap {
	h3 {
		font-weight: 500;
		color: #000;
		margin: 0 0 30px;
		font-size: 24px;
		line-height: 16px;
	}
	.billing-info {
		input {
			background: transparent none repeat scroll 0 0;
			border: 1px solid #ebebeb;
			color: $title-color;
			font-size: 16px;
			padding-left: 20px;
			padding-right: 10px;
			width: 100%;
			outline: 0;
			height: 45px;
			&.billing-address {
				margin-bottom: 10px;
			}
		}
	}
	label {
		margin-bottom: 10px;
	}
	.billing-select {
		select {
			background: transparent none repeat scroll 0 0;
			border: 1px solid #ebebeb;
			color: #474747;
			font-size: 16px;
			padding-left: 20px;
			padding-right: 10px;
			width: 100%;
			outline: 0;
			height: 45px;
		}
	}
	.checkout-account-toggle {
		input {
			background: transparent none repeat scroll 0 0;
			border: 1px solid #ebebeb;
			color: $title-color;
			font-size: 16px;
			padding-left: 20px;
			padding-right: 10px;
			margin: 0 0 20px;
			width: 100%;
			height: 45px;
			outline: 0;
		}
		.checkout-btn {
			background-color: $first-color;
			border: medium none;
			color: #fff;
			cursor: pointer;
			font-weight: 500;
			padding: 10px 30px;
			text-transform: uppercase;
			border-radius: 0;
			z-index: 9;
			&:hover {
				background-color: #000;
			}
		}
	}
	.additional-info-wrap {
		margin: 30px 0;
		label {
			margin-bottom: 10px;
		}
		textarea {
			background: transparent none repeat scroll 0 0;
			border: 1px solid #ebebeb;
			color: $title-color;
			font-size: 16px;
			height: 138px;
			padding: 17px 20px;
			width: 100%;
			outline: 0;
		}
		h4 {
			font-size: 18px;
			font-weight: 500;
			color: #000;
			margin: 0 0 10px;
		}
	}
}
.order-area {
	h3 {
		font-weight: 500;
		color: #000;
		margin: 0 0 30px;
		font-size: 24px;
		line-height: 16px;
	}
	.order-wrap {
		padding: 38px 45px 44px;
		background: #ebebeb;
		.order-product-info {
			.order-hr {
				ul {
					display: flex;
					justify-content: space-between;
					font-family: $first-font;
					li {
						font-size: 16px;
						font-weight: 500;
						color: #000;
					}
				}
			}
			.order-product-info {
				border-bottom: 1px solid #dee0e4;
				border-top: 1px solid #dee0e4;
				margin: 29px 0;
				padding: 19px 0 18px;
				li {
					display: flex;
					justify-content: space-between;
					margin: 0 0 10px;
				}
			}
		}
		.order-shipping-box {
			ul {
				align-items: center;
				display: flex;
				justify-content: space-between;
				font-family: $first-font;
				li {
					&.order-shipping {
						font-size: 16px;
						color: #000;
						font-weight: 500;
					}
				}
			}
		}
		.order-total-box {
			border-bottom: 1px solid #dee0e4;
			border-top: 1px solid #dee0e4;
			margin: 18px 0 33px;
			padding: 17px 0 19px;
			ul {
				align-items: center;
				display: flex;
				justify-content: space-between;

				li {
					font-weight: 500;
					color: #eaaa85;
					font-size: 16px;
					list-style: outside none none;
					font-family: Rubik, sans-serif;
					&.order-total {
						font-weight: 500;
						color: #000;
						font-size: 18px;
					}
				}
			}
		}
	}

	#order {
		h3 {
			background: transparent;
			border: none;
			.ui-icon {
				display: none;
			}
		}
		.ui-accordion-content {
			background: transparent;
			border: none;
			font-size: 14px;
			color: $title-color;
			line-height: 24px;
			padding: 5px 0 0 20px;
		}
	}
	.place-order {
		a {
			background-color: $first-color;
			color: #fff;
			display: block;
			font-weight: 500;
			letter-spacing: 1px;
			line-height: 1;
			padding: 18px 20px;
			text-align: center;
			text-transform: uppercase;
			border-radius: 0;
			z-index: 9;
			&:hover {
				background-color: #000;
			}
		}
	}
}

//contact style start
.contact-info {
	padding: 60px 40px 60px 40px;
	border: 1px solid #e7e7e7;
	border-radius: 20px;
	@media only screen and (max-width: 575px) {
		padding: 40px 20px;
	}

	.contact-subtitle {
		font-size: 18px;
		font-weight: 500;
		color: $first-color;
		margin: 0 0 5px;
		display: block;
	}
	.contact-title {
		font-size: 36px;
		color: $title-color;
		font-weight: 500;
		margin: 0 0 35px;
		line-height: 55px;
		@media only screen and (max-width: 575px) {
			font-size: 24px;
			line-height: 35px;
		}
	}
	.contact-card {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		& + .contact-card {
			margin-top: 45px;
		}
		.icon {
			width: 80px;
			height: 80px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: #2a2a2a;
			margin-right: 30px;
			position: relative;
			transition: all .5s ease-in-out;
			@media only screen and (max-width: 479px) {
				width: 60px;
				height: 60px;
				margin-right: 20px;
			}
			&:hover {
				background-color: $first-color;
				&::after {
					background-color: #2a2a2a;
				}
			}
			&::after {
				position: absolute;
				top: 5px;
				left: 5px;
				width: 100%;
				height: 100%;
				background-color: $first-color;
				content: "";
				z-index: -1;
				transition: all .5s ease-in-out;
			}

			i {
				transition: all .3s ease 0s;
				font-size: 36px;
				color: #fff;
			}
		}
		.info-box {
			width: calc(100% - 110px);
			@media only screen and (max-width: 479px) {
				width: calc(100% - 80px);
			}

			.title {
				font-size: 24px;
				color: #2e2e2e;
				font-weight: 400;
				margin: 0 0 3px;
				@media only screen and (max-width: 479px) {
					font-size: 20px;
				}
			}
			p {
				font-size: 18px;
				color: #848484;
				font-weight: 400;
				a {
					color: #848484;
				}
			}
		}
	}
	.socials {
		margin-top: 60px;
	}
}
.contact-form {
	padding: 60px 40px 60px 40px;
	box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
		margin-top: 60px;
	}
	@media only screen and (max-width: 575px) {
		padding: 40px 20px;
	}
	.contact-content {
		margin: 0 0 31px;
		.title {
			font-size: 36px;
			color: $title-color;
			font-weight: 500;
			margin: 0 0 14px;
			@media only screen and (max-width: 575px) {
				font-size: 24px;
			}
		}
		p {
			color: $desc-color;
			line-height: 27px;
		}
	}
	form {
		input,
		textarea {
			background: 0 0;
			border: 1px solid #c1c1c1;
			margin-bottom: 30px;
			color: $title-color;
			font-size: 14px;
		}
		textarea {
			margin-bottom: 0;
			height: 200px;
		}
	}
}
//compare section style start
.compare-table {
	.table {
		tbody {
			border-right: 1px solid #ebebeb;
			tr {
				&:first-child {
					border-top: 1px solid #ebebeb;
				}
				td {
					text-align: center;
					border: none;
					padding: 25px 30px;
					vertical-align: middle;
					border-bottom: 1px solid #ebebeb;
					border-left: 1px solid #ebebeb;
				}
				.first {
					min-width: 180px;
					font-size: 18px;
					font-weight: 500;
					color: #000;
					margin: 0;
					line-height: 1;
				}
				.product-image-title {
					min-width: 310px;
					vertical-align: bottom;
					padding-top: 70px;
					.img-product {
						clear: both;
						width: 100%;
						margin-bottom: 40px;
						display: block;
					}
					.category-product {
						float: left;
						clear: both;
						font-size: 13px;
						line-height: 15px;
						color: #000;
						text-transform: capitalize;
						letter-spacing: .5px;
					}
					.title-product {
						float: left;
						clear: both;
						font-size: 16px;
						font-weight: 500;
						color: #000;
						line-height: 20px;
						margin-bottom: 10px;
					}
				}
				.product-desc {
					p {
						text-align: left;
						margin: 0;
						line-height: 24px;
						font-size: 14px;
					}
				}
				.product-price,
				.product-color,
				.product-stock {
					font-size: 16px;
					font-weight: 500;
					color: #000;
				}
				.product-addtocart {
					.add-to-cart {
						position: static;
					}
				}
				.product-remove {
					button {
						i {
							font-size: 22px;
						}
					}
				}
				.product-ratting {
					i {
						font-size: 20px;
						color: #fdd835;
					}
				}
			}
		}
	}
}

//modal style
.modal {
	padding-right: 0;
	h2 {
		font-size: 24px !important;
		font-weight: 700;
		margin: 0 0 30px !important;
	}
}
