@model List<ProductViewModel>

@if (Model.Count > 0)
{

    @foreach (var product in Model)
    {
        <li>
            <a asp-controller="proddetail" asp-action="index" asp-route-id="@product.Id">
                <figure class="d-flex">
                    <img class="me-3" src="~/Uploads/@product.MainImage" alt="" width="50" height="50">
                    <div class="d-block">
                        <span class="d-block" style="color:black">@product.Name.Substring(0, 10)...</span>
                        <span style="color:black"> @product.Price</span>
                   </div>
                </figure>
               

            </a>
            <hr class="dropdown-divider">
            </li>
    }
}
else
{
    <li>Nəticə tapılmadı</li>
}
