@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<main>
    <!--breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">@ViewData["Title"]</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--breadcrumb section end-->
    <section class="section-style-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 me-auto ms-auto">
                    <div id="login-reg">
                        <div id="login">
                            <div class="login-wrapper">
                                <div class="login-register-form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <form asp-action="Changepassword" method="post">
                                        <input asp-for="OldPassword" placeholder="OldPassword">
                                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                                        <input asp-for="NewPassword" placeholder="NewPassword">
                                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                                        <input asp-for="ConfirmNewPassword" placeholder="ConfirmNewPassword">
                                        <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                                        <div class="button-box">
                                            <div class="login-btn">
                                                <input type="checkbox">
                                                <a class="remember-me">Remember me</a>
                                                <a class="forgot" href="#">Forgot Password?</a>
                                            </div>
                                            <button type="submit"><span>ChangePassword</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>