@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<main>
    <!--breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">@ViewData["Title"]</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--breadcrumb section end-->
    <section class="section-style-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 me-auto ms-auto">
                    <div id="login-reg">
                        <div id="login">
                            <div class="login-wrapper">
                                <div class="login-register-form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <form asp-controller="account" asp-action="forgotpassword" method="post">
                                        <div class="row g-0">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <p class="privacy-info">If you continue, Mioca will send a message to the e-mail address in your profile. Click the link in the message, and enter a new password on the page that opens.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-0">
                                            <div class="col-12">
                                                <div class="form-group pb-3">
                                                    <label asp-for="Email" class="" for="email">Email address&nbsp;<span class="required">*</span></label>
                                                    <input asp-for="Email" class="form-control" id="email" type="email" required name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-0">
                                            <div class="col-6 pb-3">
                                                <div class="form-group">
                                                    <button type="submit" class="close animate-button">Continue</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



